{% extends "form/base.html" %}

{% block title %}
    Form
{% endblock %}

{% block main %}
    <h1>View Data</h1>
    <form>
        {% for d in data %}
            <div>
                <p>{{ d.0 }}</p>
                <input class="form-control" value="{{ d.1 }}" disabled>
            </div>
            <br>
        {% endfor %}
        <button type="submit" class="btn btn-primary" disabled>Submit</button>
    </form>
    <br><br><br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
          {% for r in rs %}
            <li class="page-item"><a class="page-link" href="/d/{{ f.id }}/{{ r.0.id }}/">{{ r.1 }}</a></li>
          {% endfor %}
          <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
        </ul>
    </nav>
{% endblock %}